<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MyLittleSpiders</title>
    <link href="/public/styles.css" rel="stylesheet">
</head>
<body>
<main class="flex flex-col items-center">